.btn.btn-sm.btn-warning {
  margin-left: 8px;
  background-color: #ffc107;
  border: none;
  color: #212529;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}
.btn.btn-sm.btn-success {
  margin-left: 8px;
  background-color: #28a745;
  border: none;
  color: white;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}
