/* ========== HERO SECTION ========== */
.hero-section {
  position: relative;
  height: 80vh;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2)
    ),
    url("../images/ChatGPT_2.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
  margin-top: 100px;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -100;
}

.hero-text {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 0 20px;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 300;
}

/* ========== RESPONSIVITA HERO SEKCE ========== */
@media (max-width: 400px) {
  .main-title {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
