{% extends "base_html_section/layout.html" %} {% block title %}{{
g.t.get("register", "Registrace") }}{% endblock %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/client/register.css') }}"
/>
{% endblock %} {% block content %}
<div class="form-wrapper">
  <form method="POST" action="{{ url_for('auth_client.register') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <label for="username">
      {{ g.t.get("username", "Uživatelské jméno") }}:
    </label>
    <input type="text" name="username" id="username" required />

    <label for="email">{{ g.t.get("email", "E-mail") }}:</label>
    <input type="email" name="email" id="email" required />

    <label for="password">{{ g.t.get("password", "Heslo") }}:</label>
    <input type="password" name="password" id="password" required />

    <label for="confirm_password">
      {{ g.t.get("confirm_password", "Potvrzení hesla") }}:
    </label>
    <input
      type="password"
      name="confirm_password"
      id="confirm_password"
      required
    />

    <button type="submit">
      {{ g.t.get("register_button", "Registrovat") }}
    </button>
  </form>
</div>
{% endblock %}
