{% extends "base_html_section/layout.html" %} {% block title %}Databáze
uživatelů{% endblock %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/admin/admin_users.css') }}"
/>
{% endblock %} {% block content %}
<h2>👤 Databáze uživatelů</h2>

<table class="admin-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Uživatelské jméno</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='admin/js/admin_users.js') }}"></script>
{% endblock %}
