{% extends "base_html_section/layout_admin.html" %} {% block title %}Požadavky{%
endblock %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/admin/admin_requests.css') }}"
/>
{% endblock %} {% block content %}
<h2>📩 Požadavky</h2>

<table class="admin-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Uživatel</th>
      <th>Popis</th>
      <th>Datum</th>
    </tr>
  </thead>
  <tbody>
    {% for request in requests %}
    <tr>
      <td>{{ request.id }}</td>
      <td>{{ request.user.username }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.created_at.strftime('%d.%m.%Y') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

<script src="{{ url_for('static', filename='admin/js/admin_requests.js') }}"></script>
{% endblock %}
