{% extends "layout.html" %} {% block title %}Obnova hesla - Admin{% endblock %}
{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='admin/css/admin_reset_request.css') }}"
/>
{% endblock %} {% block content %} {% block content %}
<h2>Obnova administrátorského hesla</h2>

<form method="POST" action="{{ url_for('admin.admin_reset_request') }}">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.email.label }} {{ form.email(class_="form-control",
    placeholder="Zadejte svůj e-mail") }}
  </div>
  <div class="form-group">
    {{ form.submit(class_="btn-reset", value="Odeslat resetovací e-mail") }}
  </div>
</form>

<p style="text-align: center; margin-top: 20px">
  <a href="{{ url_for('admin.admin_login') }}">← Zpět na přihlášení</a>
</p>

{% endblock %}
