{% extends "layout.html" %} {% block title %}Admin Login{% endblock %} {% block
css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/admin/admin_login.css') }}"
/>
{% endblock %} {% block content %}
<h2>Přihlášení administrátora</h2>

<form method="POST" action="{{ url_for('admin.admin_login') }}">
  {{ form.hidden_tag() }}

  <div class="form-group">
    {{ form.email.label }}<br />
    {{ form.email(size=32, class_="form-control") }}
  </div>

  <div class="form-group">
    {{ form.password.label }}<br />
    {{ form.password(size=32, class_="form-control") }}
  </div>

  <button type="submit">{{ form.submit.label.text }}</button>
</form>

<!-- ✅ ODKAZ NA RESET HESLA -->
<div style="text-align: center; margin-top: 15px">
  <a href="{{ url_for('admin.admin_reset_request') }}"
    >🔒 Zapomněli jste heslo?</a
  >
</div>

{% endblock %}
