{% extends "layout.html" %} {% block title %}Můj profil{% endblock %} {% block
content %}
<h2>🧍 Můj profil</h2>

<form method="POST">
  {{ form.hidden_tag() }}

  <label>{{ form.first_name.label }}</label>
  {{ form.first_name(size=40) }} {% for error in form.first_name.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}<br />

  <label>{{ form.last_name.label }}</label>
  {{ form.last_name(size=40) }} {% for error in form.last_name.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}<br />

  <label>{{ form.phone.label }}</label>
  {{ form.phone(size=40) }} {% for error in form.phone.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}<br />

  <label>{{ form.address.label }}</label>
  {{ form.address(rows=2, cols=60) }} {% for error in form.address.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}<br />

  <label>{{ form.billing_address.label }}</label>
  {{ form.billing_address(rows=2, cols=60) }} {% for error in
  form.billing_address.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}<br />

  <label>{{ form.city.label }}</label>
  {{ form.city(size=40) }} {% for error in form.city.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}<br />

  <label>{{ form.postal_code.label }}</label>
  {{ form.postal_code(size=20) }} {% for error in form.postal_code.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}<br />

  <label>{{ form.country.label }}</label>
  {{ form.country(size=40) }} {% for error in form.country.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}<br />

  <label>{{ form.company.label }}</label>
  {{ form.company(size=40) }} {% for error in form.company.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}<br />

  <label>{{ form.company_id.label }}</label>
  {{ form.company_id(size=30) }} {% for error in form.company_id.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}<br />

  <label>{{ form.vat_id.label }}</label>
  {{ form.vat_id(size=30) }} {% for error in form.vat_id.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}<br />

  <label>{{ form.note.label }}</label>
  {{ form.note(rows=3, cols=60) }} {% for error in form.note.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}<br />

  <label>{{ form.date_of_birth.label }}</label>
  {{ form.date_of_birth() }} {% for error in form.date_of_birth.errors %}
  <small class="text-danger">{{ error }}</small>
  {% endfor %}<br /><br />

  {{ form.submit() }}
</form>
{% endblock %}
